# load a `csv` file into sql

### Import the necessary libraries

In [17]:
import pymysql
import sqlalchemy as alch # python -m pip install --upgrade 'sqlalchemy<2.0'
from getpass import getpass
import pandas as pd

1. FROM workbench: create a database with the name `shoes`

In [6]:
#DROP DATABASE IF EXISTS shoes;
#CREATE DATABASE IF NOT EXISTS shoes;
#USE shoes;

2. Establish a connection to your database through python

In [18]:
password = getpass("Please enter your password: ")

In [19]:
dbName = "shoes"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [20]:
engine = alch.create_engine(connectionData)
engine

Engine(mysql+pymysql://root:***@localhost/shoes)

In [21]:
con = engine.connect()

3. Load the table into pandas: from the datasets folder, get the shoes csv file

In [22]:
data = pd.read_csv('shoes.csv', encoding= 'unicode_escape')
len(data)

24

4. Drop un-wanted columns if they exist

In [23]:
data2 = data.drop(columns=['Unnamed: 0', 'links'])
data2.sample()

                                            names     brand  price
16  Zapatilla  Converse Run Star Hike Hi  MarrÃ³n  CONVERSE  110.0

5. Insert the `df` into your `shoes` database: use a pandas method. You'll need to use some arguments: name & con

In [32]:
tabel_name = 'shoes_table'
data2.to_sql(tabel_name, con, if_exists='replace', index=False)

24

6. From python, query the table back and call it `queried_df`

In [33]:
queried_df = pd.read_sql_query("""
SELECT * 
    FROM shoes_table;
""", con)

7. Does it look okay? You need to get rid of the index. Re-run your code with another argument to prevent that from being created

In [36]:
queried_df.head()  #I see no need to amend axis, nither on sql??

                                               names        brand   price
0  Zapatilla Mujer Reebok Classic Leather SP   Bl...       ADIDAS   90.00
1              Zapatilla Nike Zoom Air Fire   Blanco         NIKE  119.99
2                                    New Balance 530  NEW BALANCE  110.00
3              Zapatillla  New Balance CT302   Beige  NEW BALANCE  110.00
4            Zapatilla Mujer New Balance 327   Beige  NEW BALANCE  114.00

7. Now, from python, drop the database AND the table

Reminder: selecting & insertying use different methods. one uses pandas and the other one just the engine.

In [ ]:
con.execute("DROP TABLE shoes_table")
con.execute("DROP DATABASE shoes")

In [39]:
con.close()

8. Get your code and create a function

In [41]:
def load_into_db (db, table_name, df):
    """This function should: 
    1. Establish the connection to the database
    2. Drop the database if exists and create it again
    3. Insert the table
    4. Return some feedback: how many rows where inserted or the table itself
    """
    pass

8. Try to call the function more than once. Does it work? if so, success!

In [43]:
load_into_db